:root {
  --border-radius: 0px;
  --white-color: #fff;
  --pink-color: #da2461;
  --primary-color: #001f38;
  --gray-color: #888888;
  --job-icons: #8089c7;
  --form-height: 54px;
  --section-padding: 70px 0;
  --letter-spacing: 0.5px;
}

body {
  font-family: 'Nunito', sans-serif !important;
}

p {
  font-size: 17px;
}

h2,
h4,
h5,
p,
span {
  letter-spacing: var(--letter-spacing);
}

ul {
  list-style: none;
}

h2 {
  font-size: 40px !important;
  color: #28395a;
}

/* Hero */
.defaultHero {
  background: linear-gradient(
      90deg,
      rgba(65, 64, 124, 0.93) 0%,
      rgba(16, 25, 93, 0.95),
      71%,
      rgba(16, 25, 93, 0.97) 100%
    ),
    url('./img/hero.png') center/cover;
  padding-bottom: 100px;
}

/* Banner */
.banner h2 {
  margin-top: 150px;
  font-size: 40px;
  letter-spacing: 0.5px;
}

.banner p {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.form-control {
  height: 54px !important;
}

/* Featured jobs */
.job-search form button {
  width: 100%;
  padding: 9px 0;
  font-size: 30px;
  background-color: var(--job-icons) !important;
  height: 54px;
  border-radius: 8px;
  border: none !important;
}

.job-search form .row > div {
  padding: 0 5px;
}

.job-search span {
  position: absolute;
  top: 15px;
  right: 30px;
  color: var(--pink-color);
}

.job-search .search {
  position: absolute;
  top: 4px;
  right: 22px;
  color: var(--white-color);
}

.job-search button:hover {
  background-color: var(--pink-color) !important;
}

article span,
.card-footer span {
  color: var(--primary-color);
}

/* Card */
.card {
  transition: all 0.2s;
  z-index: 10;
}
.card:hover {
  transform: scale(1.06);
  z-index: 20;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.24);
}
.card h5:hover {
  color: var(--pink-color) !important;
}

.card-footer {
  background-color: var(--white-color) !important;
}

.card-footer .btn-outline-danger {
  color: var(--pink-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--pink-color) !important;
  font-size: 12px !important;
  border-radius: 25px;
}

/* Single job page*/
.single-job hr {
  border-bottom: 1px solid #e8ecec;
}

.single-job p {
  color: var(--gray-color);
}

.single-job .icons {
  line-height: 2;
  display: table;
}

.single-job a {
  color: var(--job-icons) !important;
  border: 1px solid var(--job-icons) !important;
  border-radius: 25px;
}
