:root {
  --border-radius: 0px;
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #ff6633;
  --gray-color: #888888;
  --hover-color: #003366;
  --blue-color: #f1f6fc;
  --form-height: 54px;
  --letter-spacing: 0.5px;
  --letter-spacing-banner: 1.5px;
  --section-padding: 70px 15px 0px 15px;
}

body {
  font-family: 'Nunito', sans-serif !important;
}

p {
  font-size: 17px;
}

h2,
h4,
h5,
p,
span {
  letter-spacing: var(--letter-spacing);
}

ul {
  list-style: none;
}

h2 {
  font-size: 40px !important;
}

/* Section padding */
.featured-jobs,
.how-it-works {
  padding-bottom: 70px;
}

/* Section h2 padding */
.featured-jobs h2,
.how-it-works h2 {
  padding: var(--section-padding);
}

/* Navbar section */
nav {
  background-color: var(--hover-color);
  border-radius: 3rem;
  color: var(--white-color) !important;
  width: 90%;
  position: relative;
  top: 30px;
}

a.nav-link {
  color: var(--white-color) !important;
}

/* Hero */
.defaultHero {
  background: rgba(15, 52, 81, 0.95);

  padding-bottom: 100px;
}

/* Banner */
.banner h2 {
  margin-top: 150px;
  font-size: 40px;
  letter-spacing: var(--letter-spacing-banner);
}

.banner p {
  font-size: 21px;
  letter-spacing: var(--letter-spacing-banner);
}

.form-control {
  height: 54px !important;
}

/* Featured jobs */
.featured-jobs h5 {
  color: var(--orange-color);
}

.job-search form button {
  width: 100%;
  padding: 9px 0;
  font-size: 30px;
  background-color: var(--orange-color) !important;
  height: 54px;
  border-radius: 8px;
  border: none !important;
}

.job-search form .row > div {
  padding: 0 5px;
}

.job-search span {
  position: absolute;
  top: 15px;
  right: 22px;
  color: var(--orange-color);
}

.job-search .search {
  position: absolute;
  top: 4px;
  right: 22px;
  color: var(--white-color);
}

.job-search button:hover {
  background-color: var(--black-color) !important;
}

/* Card */
.card {
  transition: all 0.2s;
  z-index: 10;
}
.card:hover {
  transform: scale(1.06);
  z-index: 20;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.24);
}
.card h5:hover {
  color: var(--hover-color) !important;
}

.card-footer {
  background-color: var(--white-color) !important;
}

.card-footer .btn-outline-danger {
  color: var(--black-color) !important;
  border: 1px solid var(--black-color) !important;
  font-size: 12px !important;
  border-radius: 25px;
}

.card-footer .btn-outline-danger:hover {
  border: 1px solid var(--orange-color) !important;
}

/* Single job page*/
.job-info h3 {
  color: var(--orange-color);
}

.job-info hr {
  border-bottom: 1px solid #e8ecec;
}

.job-info p {
  color: var(--gray-color);
}

.job-info .icons {
  line-height: 2;
  display: table;
}

.job-info .btn-outline-danger,
.application-form .btn-outline-danger {
  color: var(--white-color) !important;
  background: var(--orange-color) !important;
  border-radius: 25px;
  border: 0 !important;
}

.login .btn-outline-danger,
.register .btn-outline-danger {
  color: var(--white-color) !important;
  background: var(--orange-color) !important;
  /* border-radius: 25px; */
  height: 54px;
  border: 0 !important;
}

.register .card:hover,
.login .card:hover {
  transform: none !important;
  background-color: none !important;
}

.job-info .btn-outline-danger:hover {
  background: var(--hover-color) !important;
  border: 0 !important;
  color: var(--white-color) !important;
}

.company-details .btn-outline-danger {
  width: 250px !important;
  font-size: 13px !important;
  border-radius: 40px !important;
  border: 0 !important;
}

/* Testimonials */
.testimonials .card:hover {
  transform: none;
}

.testimonials {
  padding: 70px 15px 120px 15px;
  background-color: var(--blue-color);
}

/* Footer */
.footer-banner {
  margin-bottom: -80px !important;
  padding: var(--section-padding);
  line-height: 2;
  letter-spacing: var(--letter-spacing);
}

.footer-banner ul {
  margin-left: -40px !important;
}

.center-line {
  background-color: var(--orange-color);
  height: 1px;
  margin: 0px auto 25px;
  width: 150px;
}

/* slider */
.slick-dots {
  bottom: -55px;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--orange-color) !important;
}
.slick-dots li button:before {
  font-size: 12px;
}
